<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user">
        <div class="sidebar-brand-icon">
            <i class="fas fa-user-alt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ONS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/user}">
            <i class="fas fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Discover   -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/user}">
            <i class="far fa-lightbulb"></i>
            <span>Discover</span></a>
    </li>
    <!-- Profile -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/user/profile}">
            <i class="far fa-user-circle"></i>
            <span>Profile</span></a>
    </li>

    <!-- Categories   -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/user}">
            <i class="fas fa-folder-open"></i>
            <span>Categories</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Workshop
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-code"></i>
            <span>Workshop Event</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!--                <h6 class="collapse-header">Custom Workshop:</h6>-->
                <a class="collapse-item" href="">Workshop 1</a>
                <a class="collapse-item" href="">Workshop 2</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Plug ins
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->