<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Your profile</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="/css/picnic/picnic.min.css">
        <link rel="stylesheet" href="/css/pages/profile_page/page.css">
    </head>
    <body>
        <nav class="demo">
            <a href="#" class="brand">
                <span>Your profile page</span>
            </a>

            <div class="menu">
                <a href="#" class="pseudo button icon-picture">Logout</a>
                <a href="#" class="button icon-puzzle">SignIn</a>
            </div>
        </nav>

        <main>
            <h2 th:inline="text">Welcome to your profile, [[${user.name}]]!</h2>
            <article class="flex two">
                <section id="profile_info">
                    <div style="width: 200px"> <!-- this div just for demo display -->
                        <label class="dropimage profile_pic">
                            <input name="filea" title="Drop image or click me" type="file">
                        </label>
                    </div>
                </section>
                <section id="change_password">
                    <h2>Change password</h2>
                    <form id="change_password_form"
                            action="/Account/ChangePassword"
                            th:object="${changePasswordDto}"
                            method="post">
                        <section>
                            <input class="stack"
                               placeholder="Old password"
                               type="password"
                               th:field="*{oldPassword}"
                               id="oldPassword">
                            <input class="stack"
                                    placeholder="New Password"
                                    type="password"
                                    th:field="*{newPassword}"
                                    id="newPassword">
                            <input class="stack"
                                    placeholder="Confirm Password"
                                    type="password"
                                    th:field="*{newPasswordCf}"
                                    id="newPasswordCf">
                        </section>

                        <div class="alert"
                             th:errors="*"
                             th:if="${#fields.hasErrors('*')}">
                            New Password Error
                        </div>
                        <div class="success"
                             th:if="${changePasswordSuccess}"
                            th:text="${changePasswordSuccess}"></div>
                        <footer>
                            <button type="submit">Change Password</button>
                        </footer>
                    </form>
                </section>
            </article>
            <section>
                <table class="primary">
                    <thead>
                        <tr><th>Skills</th></tr>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Python</td>
                            <td>I'm good trust me</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>I'm good trust me</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const imgUrl = /*[[${user.profileUrl}]]*/ 'none';
        const csrfHeaderName = /*[[${_csrf.headerName}]]*/ 'none';
        const csrfToken = /*[[${_csrf.token}]]*/ 'none';

        /*]]>*/
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            [].forEach.call(document.querySelectorAll('.dropimage'), function(img){
                img.style['background-image'] = 'url('+imgUrl+')';

                img.onchange = function(e){
                    let inputfile = this, reader = new FileReader();
                    reader.onloadend = function(){

                        let formData = new FormData(),
                            file = e.target.files[0],
                            xhr = new XMLHttpRequest();

                        formData.append('imgFile', file);
                        formData.set('imgFile', file);

                        xhr.open('POST', '/api/Account/ChangePicture');
                        xhr.setRequestHeader(csrfHeaderName, csrfToken);
                        xhr.send(formData);

                        inputfile.style['background-image'] = 'url('+reader.result+')';
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
        });
    </script>
</html>