<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Your profile</title>
        <link rel="stylesheet" href="/css/picnic/picnic.min.css">
        <link rel="stylesheet" href="/css/pages/profile_page/page.css">
    </head>
    <body>
        <nav class="demo">
            <a href="#" class="brand">
                <span>Your profile page</span>
            </a>

            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">menu</label>

            <div class="menu">
                <a href="#" class="pseudo button icon-picture">Demo</a>
                <a href="#" class="button icon-puzzle">Plugins</a>
            </div>
        </nav>

        <main>
            <h3>Your profile</h3>
            <div id="profile_area">
                <h2 th:text="${userInfo.name}"></h2>
                <img src="/images/profile_page/default_profile.jpeg"
                     alt="Profile picture" class="profile_pic">
            </div>

        </main>
    </body>
</html>