#profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
#change_password {
    width: auto;
    margin: 0 0 0 2vw;
}

#change_password_form {
    width: max-content;
}

.alert {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    margin: 5px 0;
    padding: 3px;
}

.success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
    margin: 5px 0;
    padding: 3px;
}

.profile_pic {
    border-radius: 50%;
    padding-bottom: 100%;   /* 100% height (ratio 1) */
}

main {
    margin: 3rem;
}