<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a help request</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Request help</title>
    <link rel="stylesheet" th:href="@{~/css/picnic/picnic.min.css}">
    <!-- Custom fonts for this template-->
    <link th:href="@{~/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{~/css/sb-admin-2.min.css}" rel="stylesheet">

    <link th:href="@{~/vendor/sweetalert2/dist/sweetalert2.css}" rel="stylesheet">
</head>
<body>

<form autocomplete="on" action="#" th:action="@{/submitRequest}" th:object="${newHelpRequestDto}"
      method="post" id="help_form" role="form">

    <h1 id="header">Request help from your co-workers</h1>
    <br>

    <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error':''">
        <input  type="text" th:field="*{title}" placeholder="Title" />
        <span class="error-message"
           th:each="error: ${#fields.errors('title')}"
           th:text="${error}">Validation error</span>
    </div>
    <br>

    <div class="form-group">
        <input type="text" th:field="*{description}" placeholder="Description" />
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>
    <br>

    <div class = "form-group" th:classappend="${#fields.hasErrors('taggedSkills')}? 'has-error':''">
        <select required id = "skills-dropdown" multiple = multiple th:field="*{taggedSkills}">
            <option value="" disabled selected>Please select relevant skills</option>
            <option th:each="skill : ${userSkills}" th:value="${skill.id}" th:text="${skill.title}"></option>
            <span th:if="${#fields.hasErrors('taggedSkills')}" th:errors="*{taggedSkills}"></span>
        </select>
        <span class="error-message"
              th:each="error: ${#fields.errors('taggedSkills')}"
              th:text="${error}">Validation error</span>
    </div>



    <div class="submit">
        <button class='success' type="submit">Submit request </button>
    </div>
</form>
<br>
<br>
<a href="/user">Back to homepage</a>

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/user/user_sidebar.html :: ul.navbar-nav"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="fragments/user/user_nav.html :: nav.navbar"></div>
        </div>
        <div th:replace="fragments/user/footer.html :: footer.sticky-footer"></div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="fragments/user/logout.html :: div.modal"></div>

</body>
</html>
<style>
    body{
        background-color: #FAFAFA;
        margin: 10px;
    }
    .submit{
        text-align: center;
    }
    #header{
        text-align: center;
        color: #002f94;
    }
    #help_form{
        position: absolute;
        left: 10%;
        top:10%;
        width:80%;
    }
</style>

</body>
</html>