body{
    background-color: #dddddd;
}

.form-search{
    width: 640px;
    margin: 20px auto;
}
.search-item{
    width: 100%;
    height: 35px;
}
.containerItems{
    width: 660px;
    margin: 20px auto;
    clear: both;
}
.item{
    float: left;
    width: 200px;
    padding: 10px;
    text-align: center;
}
.item img{
    width: 100%;
}

.navbar {
    min-height: 100px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-weight: 600;
    font-size: 40px !important;
    font-family: 'Lobster', cursive;
}

.navbar-custom {
    background-color: #004466;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #a1b538;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
