<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/searchImages.css">
    <title>Home Page</title>
</head>
<body>

<div th:replace="fragments/navbar.html :: nav"></div>

<div class="container">
    <div class="form-search">
        <input type="search" class="search-item" placeholder="Search here..."/>
    </div>
    <div class="containerItems">
        <div data-filter="tedir" data-search="tedir" class="item">
            <img src="images/man1.png"/>
            <span><b>Tedir</b></span>
        </div>
        <div data-filter="Ghazali" data-search="Ghazali" class="item">
            <img src="images/man3.png"/>
            <span><b>Ghazali</b></span>
        </div>
        <div data-filter="Boy" data-search="Boy" class="item">
            <img src="images/woman1.png"/>
            <span><b>Boy Haki</b></span>
        </div>
        <div data-filter="Bukhari" data-search="Bukhari" class="item">
            <img src="images/woman4.png"/>
            <span><b>Bukhari</b></span>
        </div>
        <div data-filter="Nurjannah" data-search="Nurjannah" class="item">
            <img src="images/woman5.png"/>
            <span><b>Nurjannah</b></span>
        </div>
        <div data-filter="Zulkifli" data-search="Zulkifli" class="item">
            <img src="images/man6.png"/>
            <span><b>Zulkifli</b></span>
        </div>
    </div>

</div>

<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/e-search.min.js"></script>
<script>
    $('.search-item').search({

    });

</script>

</body>

</html>